<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Glizzywood - Loup-Garou</title>
    <link rel="icon" href="../Ressources/favicon.ico">
    <link rel="stylesheet" href="../static/loup-garou.css">
    <link href='https://fonts.googleapis.com/css?family=Josefin Sans' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Gabriela' rel='stylesheet'>
</head>
<body>
    <header>
        <img src="../Ressources/menu_deroulant.png" id="parametres">
        <a id="logosite" href="homepage.html">
            <img src="../Ressources/logosite.png">
            <h1>Glizzywood</h1>
        </a>
        <div id="joueur">
            <img src="../Ressources/blank_profile_picture.png" class="image_ronde" id="profil">
        </div>
    </header>
    <section>
        <ol id="ListeJoueur">
            <li class="Joueur">
                <img src="../Ressources/blank_profile_picture.png" class="image_ronde">
                <p>Nom Joueur</p>
                <button onclick="voter('Joueur1')" id="v1" class="votes">Voter</button>
                <p class="votes" id="Joueur1">0</p>
            </li>
            <li class="Joueur">
                <img src="../Ressources/blank_profile_picture.png" class="image_ronde">
                <p>Nom Joueur</p>
                <button onclick="voter('Joueur2')" id="v2" class="votes">Voter</button>
                <p class="votes" id="Joueur2">0</p>
            </li>
            <li class="Joueur">
                <img src="../Ressources/blank_profile_picture.png" class="image_ronde">
                <p>Nom Joueur</p>
                <button onclick="voter('Joueur1')" id="v1" class="votes">Voter</button>
                <p class="votes" id="Joueur1">0</p>
            </li>
            <li class="Joueur">
                <img src="../Ressources/blank_profile_picture.png" class="image_ronde">
                <p>Nom Joueur</p>
                <button onclick="voter('Joueur2')" id="v2" class="votes">Voter</button>
                <p class="votes" id="Joueur2">0</p>
            </li>
            <li class="Joueur">
                <img src="../Ressources/blank_profile_picture.png" class="image_ronde">
                <p>Nom Joueur</p>
                <button onclick="voter('Joueur1')" id="v1" class="votes">Voter</button>
                <p class="votes" id="Joueur1">0</p>
            </li>
            <li class="Joueur">
                <img src="../Ressources/blank_profile_picture.png" class="image_ronde">
                <p>Nom Joueur</p>
                <button onclick="voter('Joueur2')" id="v2" class="votes">Voter</button>
                <p class="votes" id="Joueur2">0</p>
            </li>
        </ol>
        <button onclick="affichervote('all')">Lancer le vote</button>
        <p class="votes" id="messagevote">Tu votes pour : <strong id="votant"> Personne</strong></p>
        
    </section>
    <footer>
        <span> Glizzywood © - 2025 </span>
        <div id="reseaux">
            <a href="https://discord.gg/tujWdUgBBu" target="_blank"> 
                <p>Discord</p>
                <img src="../Ressources/discord.png" class="image_ronde"> 
            </a>
        </div>
    </footer>

    <script src="../static/scriptlg.js"></script>
</body>
</html>